<div class="white_container">

<h1 class="user_edit_title">プロフィールを編集する</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :username, "ユーザー名", class: "edit_label" %><br />
    <%= f.text_field :username, autocomplete: "username", class: "edit_field" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス", class: "edit_label" %><br />
    <%= f.email_field :email, autocomplete: "email", class: "edit_field" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="actions">
    <%= f.submit "更新する", class: "material_button user_update_button" %>
  </div>
<% end %>

<%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete, class: "material_button user_delete_button" %>
</div>