<td><%= artip.content %></td>

<% if user_signed_in? && current_user.tipliked_by?(artip.id) %>
  <td id="artip_<%= artip.id %>">
    <%= link_to destroy_tiplike_path(artip), class: "like-link", method: :DELETE, remote: true do %>
      <i class="fa fa-heart unlike-btn"></i>
    <% end %>
    <%= artip.tiplikes.count %>
  </td>
<% else %>
  <td id="artip_<%= artip.id %>">
    <%= link_to create_tiplike_path(artip), class: "like-link", method: :POST, remote: true do %>
      <i class="fa fa-heart like-btn"></i>
    <% end %>
    <%= artip.tiplikes.count %>
  </td>
<% end %>

<td><%= link_to 'Show', artip %></td>
<td><%= link_to 'Edit', edit_artip_path(artip) %></td>
<td><%= link_to 'Destroy', artip, method: :delete, data: { confirm: 'Are you sure?' } %></td>