<h1>Artips</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artips.each do |artip| %>
      <tr>
        <td><%= artip.content %></td>
        <td><%= link_to 'Show', artip %></td>
        <td><%= link_to 'Edit', edit_artip_path(artip) %></td>
        <td><%= link_to 'Destroy', artip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artip', new_artip_path %>
