<%= form_with(model: article, class: "article_form", local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= article.errors.count %>件のエラーがあります</h2>
      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="article_form_contain" id="article_form_title" id="aiueo">
    <%= form.text_field :title, placeholder: "タイトル" %>
  </div>

  <%= form.select :subject, ['勉強法', '英語', '数学Ⅰ+A', '数学Ⅱ+B', '物理', '化学', '世界史'], {include_blank: '教科を選択'}, {class: 'first_select'} %>

  <%= render "field" %>

    <%= form.fields_for :containers do |container| %>
      <div id="article_containers">
      </div>
    <% end %>

    <div id="add_content" class="material_button count_button">+ 文章を追加</div>
    <div id="add_artip" class="material_button count_button">+ Tipを追加</div>
    <div id="delete_button" class="material_button count_button">- 削除</div>

    <div class="submit_form">
      <%= form.submit "投稿", class: "submit_button" %>
    </div>
<% end %>