<h1><%= @article.title %></h1>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<div>
  <%= @article.content %>
</div>

<details>
<summary>質問一覧</summary>

<div>
  <ul>
    <% @rooms.each do |room| %>
      <li><%= link_to room.title, room_path(room) %></li>
    <% end %>
  </ul>
</div>

<%= form_with model: @room do |room| %>
  <%= room.label :title %>
  <%= room.text_field :title %>
  <%= room.submit %>
<% end %>
</details>