<div class="white_container article_show">
  <div class="article_show_info">
    <span class="article_show_username"><%= link_to "@" + @user.username, user_path(@user), class: "article_username_button" %>が作成</span>
    <span class="article_show_updated"><%= l @article.updated_at, format: :long %>に更新</span>
    <span class="article_show_edit">
      <% if user_signed_in? && current_user.id == @article.user_id %>
        <%= link_to '編集する', edit_article_path(@article), class: "article_edit_button" %>
      <% end %>
    </span>
  </div>

  <h1 class="article_show_title" ><%= @article.title %></h1>
  <div>

    <ul>
      <% @containers.each do |container| %>
        <%= container.content %>
        <%= container.artip %>
      <% end %>
    </ul>
  </div>

  <hr class="article_border">

  <%= form_with model: @room do |room| %>
    <p><%= room.label :title, "分からないことがあれば質問しよう！", class: "question_label" %></p>
    <%= room.text_field :title, class: "question_field", placeholder: "質問のタイトルを入力すると、ルームが作成されます" %>
    <%= room.submit "作成する", class: "question_button material_button" %>
  <% end %>

<details>
  <summary class="article_question">質問一覧</summary>

  <div class="details_content">
    <ul>
      <% @rooms.each do |room| %>
        <li class="details_room"><%= link_to room.title, room_path(room), class: "details_room_link" %></li>
      <% end %>
    </ul>
  </div>
</details>

  <%= render 'arlikes/arlike' %>
</div>