  <div id="article_<%= @article.id %>">
    <% if user_signed_in? && current_user.arliked_by?(@article.id) %>
    <div class="like-link on">
      <%= link_to destroy_arlike_path(@article), method: :DELETE, remote: true do %>
        <i class="fas fa-bookmark like"></i>
      <% end %>
      <p class="like_count"><%= @article.arlikes.count %></p>
    </div>
    <% else %>
    <div class="like-link off">
      <%= link_to create_arlike_path(@article), method: :POST, remote: true do %>
        <i class="fas fa-bookmark unlike" title="ブックマークする" style="color: #ddd"></i>
      <% end %>
      <p class="unlike_count"><%= @article.arlikes.count %></p>
    </div>
    <% end %>
  </div>