<div class="white_container">

<h1><%= @user.username %></h1>

<h2>投稿記事</h2>
   <% @articles.each do |article| %>

    <div class="pages_article">

      <%= link_to article.title, article_path(article), class: "pages_article_title" %>

      <p><i class="fas fa-tag"></i> <%= article.subject %></p>
      <p><i class="fas fa-check"></i> <%= article.field %></p>

      <div class="pages_article_content">
        <% article.containers.each do |container| %>
          <%= container.content %>
        <% end %>
      </div>

      <%= link_to '続きを読む', article_path(article), class: "pages_article_readmore" %>

      <p style="color: var(--orange)"><i class="fas fa-bookmark"></i> <%= article.arlikes.count %></p>

    </div>
    <hr>
  <% end %>
  <div class="pages_article_paginate">
    <%= paginate @articles %>
  </div>

<h2>投稿Tips</h2>
<div class="tip_timeline_container">
  <% @user.tips.each do |tip| %>
    <div class="tip_timeline_content">
    <div class="tip_image">
      <% if tip.images.attached? %>
        <% tip.images.each do |image| %>
          <%= link_to tip_path(tip) do %>
            <%= image_tag image.variant(gravity: :center, resize:"360x360^", crop:"360x360+0+0").processed %>
          <% end %>
          <p><i style="color: red;" class="fas fa-heart"></i> <%= tip.liketips.count %></p>
        <% end %>
      <% end %>
    </div>
    </div>
  <% end %>
</div>

</div>