<%= form_with(model: container, local: true) do |form| %>
  <% if container.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(container.errors.count, "error") %> prohibited this container from being saved:</h2>

      <ul>
        <% container.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <%= form.file_field :images, multiple: true %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
