
   <% @articles_default.each do |article| %>

    <div class="pages_article">

      <%= link_to article.title, article_path(article), class: "pages_article_title" %>

      <p>タグ: <%= article.subject %></p>
      <p>分野: <%= article.field %></p>

      <div class="pages_article_content"><%= article.content %></div>

      <%= link_to '続きを読む', article_path(article), class: "pages_article_readmore" %>

      <% if current_user.arliked_by?(article.id) %>
        <div id="article_<%= article.id %>" class="pages_article_like">
          <%= link_to destroy_arlike_path(article), class: "like-link", method: :DELETE, remote: true do %>
            <i class="fa fa-heart unlike-btn"></i>
          <% end %>
          <%= article.arlikes.count %>
        </div>
      <% else %>
        <div id="article_<%= article.id %>" class="pages_article_like">
          <%= link_to create_arlike_path(article), class: "like-link", method: :POST, remote: true do %>
            <i class="fa fa-heart like-btn"></i>
          <% end %>
          <%= article.arlikes.count %>
        </div>
      <% end %>

    </div>
    <hr>
  <% end %>
  <div class="pages_article_paginate">
    <%= paginate @articles_default %>
  </div>