<div class="pages_roadmap">
  <div class="pages_roadmap_desctibe">
    <h1 class="pages_roadmap_title">RoadMap</h1>
    <p>describedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribe</p>
  </div>

  <div class="pages_roadmap_container">

    <div class="pages_roadmap_subject" id="pages_roadmap_test">
      <%= link_to subjects_exam_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">How To Study?</p>
          <%= embedded_svg("test.svg", class: "pages_roadmap_picture") %>
        </div>
      <% end %>
    </div>

    <div class="pages_roadmap_subject" id="pages_roadmap_english">
      <%= link_to subjects_english_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">English</p>
          <%= embedded_svg("language.svg", class: "pages_roadmap_picture") %>
        </div>
      <% end %>
    </div>

    <div class="pages_roadmap_subject" id="pages_roadmap_math">
      <%= link_to subjects_math1_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">MathI+A</p>
          <%= embedded_svg("math.svg", class: "pages_roadmap_picture") %>
        </div>
      <% end %>
    </div>

    <div class="pages_roadmap_subject" id="pages_roadmap_math">
      <%= link_to subjects_math2_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">MathII+B</p>
          <%= embedded_svg("math.svg", class: "pages_roadmap_picture") %>
        </div>
      <% end %>
    </div>

    <div class="pages_roadmap_subject" id="pages_roadmap_worldhistory">
      <%= link_to subjects_worldhistory_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">World History</p>
          <%= embedded_svg("geology.svg", class: "pages_roadmap_picture") %>
        </div>
      <% end %>
    </div>

    <div class="pages_roadmap_subject" id="pages_roadmap_physics">
      <%= link_to subjects_physics_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">Physics</p>
          <%= embedded_svg("momentum.svg", class: "pages_roadmap_picture") %>
        </div>
      <% end %>
    </div>

    <div class="pages_roadmap_subject" id="pages_roadmap_chemistry">
      <%= link_to subjects_chemistry_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">Chemistry</p>
          <%= embedded_svg("chemistry.svg", class: "pages_roadmap_picture") %>
        </div>
      <% end %>
    </div>

  </div>