<div class="white_container">
<%= link_to "記事", pages_artimeline_path %>
<% @tips_default.each do |tip| %>
  <div>
    <%= link_to tip.content, tip_path(tip) %>
    <% if current_user.liketipd_by?(tip.id) %>
      <div id="tip_<%= tip.id %>">
        <%= link_to destroy_liketip_path(tip), class: "like-link", method: :DELETE, remote: true do %>
          <i class="fa fa-heart unlike-btn"></i>
        <% end %>
        <%= tip.liketips.count %>
      </div>
    <% else %>
      <div id="tip_<%= tip.id %>">
        <%= link_to create_liketip_path(tip), class: "like-link", method: :POST, remote: true do %>
          <i class="fa fa-heart like-btn"></i>
        <% end %>
        <%= tip.liketips.count %>
      </div>
    <% end %>
  </div>
<% end %>
<%= paginate @tips_default %>
</div>