<% if user_signed_in? %>
<div class="white_container">
  <h1>トレンド</h1>
  <nav>
  <li class="current timeline_select_list"><%= link_to "人気記事", root_path, class: "timeline_select_link" %></li>
  <li class="timeline_select_list"><%= link_to "人気Tips", pages_timeline_path, class: "timeline_select_link" %></li>
  </nav>
  <%= render 'artimeline' %>
</div>
<% else %>
  <%= render 'welcome' %>
<% end %>
<%= render "roadmap" %>