<% if user_signed_in? %>
<div class="white_container">
  <h1>トレンド</h1>
  <%= link_to "人気記事", root_path, class: "pages_article_link" %>
  <%= link_to "人気Tips", root_path, class: "pages_article_link" %>
  <%= render 'artimeline' %>
</div>
<% else %>
  <%= render 'welcome' %>
<% end %>
<div class="pages_roadmap">
  <div class="pages_roadmap_desctibe">
    <h1 class="pages_roadmap_title">RoadMap</h1>
    <p>describedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribe</p>
  </div>

  <div class="pages_roadmap_container">

    <div class="pages_roadmap_subject" id="pages_roadmap_test">
      <%= link_to articles_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">Test</p>
          <img src="assets/Test.svg" class="pages_roadmap_picture">
        </div>
      <% end %>
    </div>

    <div class="pages_roadmap_subject" id="pages_roadmap_english">
      <%= link_to artips_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">English</p>
          <img src="assets/Language.svg" class="pages_roadmap_picture">
        </div>
      <% end %>
    </div>


    <div class="pages_roadmap_subject" id="pages_roadmap_worldhistory">
      <%= link_to tips_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">World History</p>
          <img src="assets/Geology.svg" class="pages_roadmap_picture">
        </div>
      <% end %>
    </div>

    <div class="pages_roadmap_subject" id="pages_roadmap_chemistry">
      <%= link_to containers_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">Chemistry</p>
          <img src="assets/Chemistry.svg" class="pages_roadmap_picture">
        </div>
      <% end %>
    </div>

    <div class="pages_roadmap_subject" id="pages_roadmap_math">
      <%= link_to subjects_math1_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">Math</p>
          <img src="assets/Math.svg" class="pages_roadmap_picture">
        </div>
      <% end %>
    </div>

    <div class="pages_roadmap_subject" id="pages_roadmap_physics">
      <%= link_to articles_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">Physics</p>
          <img src="assets/Momentum.svg" class="pages_roadmap_picture">
        </div>
      <% end %>
    </div>

  </div>