
<div class="white_container">
  <h1>トレンド</h1>
  <%= link_to "人気記事", root_path %>
  <%= link_to "人気Tips", pages_timeline_path %>

<div class="tip_timeline_container">
  <% @tips_default.each do |tip| %>
    <div class="tip_timeline_content">
      <div class="tip_image">
      <% if tip.images.attached? %>
        <% tip.images.each do |image| %>
          <%= link_to tip_path(tip) do %>
            <%= image_tag image.variant(gravity: :center, resize:"360x360^", crop:"360x360+0+0").processed %>
          <% end %>
        <% end %>
      <% end %>
      </div>

      <% if current_user.liketipd_by?(tip.id) %>
        <div id="tip_<%= tip.id %>">
          <%= link_to destroy_liketip_path(tip), method: :DELETE, remote: true do %>
            <i class="fa fa-heart" style="color: red;"></i>
          <% end %>
          <%= tip.liketips.count %>
        </div>
      <% else %>
        <div id="tip_<%= tip.id %>">
          <%= link_to create_liketip_path(tip), method: :POST, remote: true do %>
            <i class="fa fa-heart" style="color: #ddd;"></i>
          <% end %>
          <%= tip.liketips.count %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
  <%= paginate @tips_default %>
</div>
</div>
<div class="pages_roadmap">
  <div class="pages_roadmap_desctibe">
    <h1 class="pages_roadmap_title">RoadMap</h1>
    <p>describedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribedescribe</p>
  </div>

  <div class="pages_roadmap_container">

    <div class="pages_roadmap_subject" id="pages_roadmap_test">
      <%= link_to articles_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">Test</p>
          <%= embedded_svg("test.svg", class: "pages_roadmap_picture") %>
        </div>
      <% end %>
    </div>

    <div class="pages_roadmap_subject" id="pages_roadmap_english">
      <%= link_to artips_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">English</p>
          <%= embedded_svg("language.svg", class: "pages_roadmap_picture") %>
        </div>
      <% end %>
    </div>


    <div class="pages_roadmap_subject" id="pages_roadmap_worldhistory">
      <%= link_to tips_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">World History</p>
          <%= embedded_svg("geology.svg", class: "pages_roadmap_picture") %>
        </div>
      <% end %>
    </div>

    <div class="pages_roadmap_subject" id="pages_roadmap_chemistry">
      <%= link_to containers_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">Chemistry</p>
          <%= embedded_svg("chemistry.svg", class: "pages_roadmap_picture") %>
        </div>
      <% end %>
    </div>

    <div class="pages_roadmap_subject" id="pages_roadmap_math">
      <%= link_to subjects_math1_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">Math</p>
          <%= embedded_svg("math.svg", class: "pages_roadmap_picture") %>
        </div>
      <% end %>
    </div>

    <div class="pages_roadmap_subject" id="pages_roadmap_physics">
      <%= link_to articles_path, class: "pages_roadmap_link" do %>
        <div class="pages_roadmap_inner">
          <p class="pages_roadmap_subject_title">Physics</p>
          <%= embedded_svg("momentum.svg", class: "pages_roadmap_picture") %>
        </div>
      <% end %>
    </div>
</div>