<div class="white_container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "sign-up-form" }) do |f| %>
    <h2>ログイン</h2>
    <div class="field">
      <%= f.email_field :email, autocomplete: "email" , class: "edit_field", placeholder: "メールアドレス"%>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", class: "edit_field", placeholder: "パスワード" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="">
        <%= f.check_box  :remember_me %>
        <%= f.label :remember_me, "ログイン情報を保存する" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン", class: "logbtn", class: "material_button user_update_button" %>
    </div>

    <%= render "devise/shared/links" %>
  <% end %>
</div>