<span id="artip_<%= @artip.id %>">
  <% if current_user.tipliked_by?(@artip.id) %>
    <%= link_to destroy_tiplike_path(@artip), class: "like-link", method: :DELETE, remote: true do %>
      <i class="fa fa-heart unlike-btn"></i>
    <% end %>
    <%= @artip.tiplikes.count %>
  <% else %>
    <%= link_to create_tiplike_path(@artip), class: "like-link", method: :POST, remote: true do %>
      <i class="fa fa-heart like-btn"></i>
    <% end %>
    <%= @artip.tiplikes.count %>
  <% end %>
</span>