<%= form_with(model: tip, local: true) do |form| %>
  <% if tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

      <ul>
        <% tip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="tip_container">
  <div class="tip_image_container">
  <div id="add_button" class="material_button count_button">+ 追加</div>

  <div id="boxes">
    <%= form.file_field :images, multiple: true, class: "box" %>
    <%= form.file_field :images, multiple: true, class: "box" %>
  </div>

  <div id="delete_button" class="material_button count_button">- 削除</div>
  </div>

  <%= form.text_area :content, placeholder: "キャプションを追加", class: "tip_form_content" %>


  <div class="submit_form">
    <%= form.submit class: "submit_button" %>
  </div>
</div>
<% end %>