<%= form_with(model: tip, local: true) do |form| %>
  <% if tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

      <ul>
        <% tip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

<div id="addbutton">add box</div>

<div id="boxes">
  <%= form.file_field :images, multiple: true, class: "box" %>
</div>

<div id="delete">delete</div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>