<td><%= tip.content %></td>

<% if current_user.liketipd_by?(tip.id) %>
  <td id="tip_<%= tip.id %>">
    <%= link_to destroy_liketip_path(tip), class: "like-link", method: :DELETE, remote: true do %>
      <i class="fa fa-heart unlike-btn"></i>
    <% end %>
    <%= tip.liketips.count %>
  </td>
<% else %>
  <td id="tip_<%= tip.id %>">
    <%= link_to create_liketip_path(tip), class: "like-link", method: :POST, remote: true do %>
      <i class="fa fa-heart like-btn"></i>
    <% end %>
    <%= tip.liketips.count %>
  </td>
<% end %>

<td><%= link_to 'Show', tip %></td>

<td><%= link_to 'Edit', edit_tip_path(tip) %></td>

<td><%= link_to 'Destroy', tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>