<!DOCTYPE html>
<html>
  <head>
    <title>StudyTips</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="top_header">
      <nav>
        <%= link_to 'StudyTips', root_path, class: "top_header_top_link" %>
          <div class="top_header_container">
            <% if user_signed_in? %>
                <% if current_user.username.nil? || (current_user.username == "") %>
                  <div class="top_header_button"><%= link_to "ユーザー名を設定してください", edit_user_registration_path, class: "top_header_link" %></div>
                <% else %>
                  <div class="top_header_button"><%= link_to current_user.username, pages_show_path, class: "top_header_link" %></div>
                <% end %>
              <div class="top_header_button"><%= link_to 'プロフィール変更', edit_user_registration_path, class: "top_header_link" %></div>
              <div class="top_header_button"><%= link_to 'いいねした投稿', pages_arlikes_path, class: "top_header_link" %></div>
              <div class="top_header_button"><%= link_to 'ユーザー一覧', users_path, class: "top_header_link" %></div>
              <div class="top_header_button"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "top_header_link" %></div>
              <div class="top_header_button"><%= link_to '新規投稿', new_article_path, class: "top_header_link top_header_post" %></div>
            <% else %>
              <div class="top_header_button"><%= link_to 'ログイン', new_user_session_path, class: "top_header_link" %></div>
            <% end %>
          </div>
      </nav>
    </header>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>

    </div>
  </body>
</html>
